/*about-page*/
.about-page{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #fdd049;
	height: 100vh;
	text-align: center;

	&__logo{
		height: 26%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 242px;
	}

	&__text{
		height: 25%;
		display: flex;
		align-items: flex-start;
		font-family: OpenSans-Regular, Arial, sans-serif;
		font-size: $bigger-font-size + px;
		line-height: 1.4em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&__version{
		height: 31%;
		display: flex;
		align-items: flex-start;
		font-family: OpenSans-Regular, Arial, sans-serif;
		font-size: $big-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&__developer{
		height: 18%;
		display: flex;
		align-items: center;
		font-family: OpenSans-Regular, Arial, sans-serif;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #b28f30;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;

		span{
			font-family: OpenSans-Semibold, Arial, sans-serif;
		}
	}

	@media (min-width: $media-ipad-min + px) {

		&__logo{
			width: 483px;
		}

		&__text{
			font-size: $bigger-font-size * 2 + px;
		}

		&__version{
			font-size: $big-font-size * 2 + px;
		}

		&__developer{
			font-size: $small-font-size * 2 + px;
		}
	}
}
/*end of about-page*/