/*buttons*/
.enter-button{
	outline: none;
	border: none;
	display: block;
	padding: 13px 0 13px;
	background: #ebebeb;
	box-shadow: 0 1px 1px 0 rgba(139,139,139,.74);
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: $medium-font-size + px;
	line-height: 1.2em;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .045em;
	cursor: pointer;
	
	&:hover{
		box-shadow: none;
		background: #fff;
	}
}

.sandy-button{
	outline: none;
	border: none;
	box-shadow: none;
	display: block;
	padding: 13px 0 13px;
	background: #f3af27;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: $medium-font-size + px;
	line-height: 1.2em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .045em;
	text-align: center;

	&:hover{
		background: #e9a722;
	}
}

.action-button{
	display: block;
	width: 33px;
	height: 33px;
	background: url("../img/action-button.svg") no-repeat 0 0;
	border-radius: 50%;
	cursor: pointer;

	&:hover{
		background: url("../img/action-button--hover.svg") no-repeat 0 0;
	}
}

.grey-button{
	padding: 14px 0 12px;
	display: block;
	outline: none;
	border: none;
	box-shadow: none;
	font-family: Roboto-Regular, Arial, sans-serif;
	font-size: $medium-font-size + px;
	line-height: 1.2em;
	font-weight: 400;
	color: #464647;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0;
	text-align: center;
	background: #f2f2f2;
	border-radius: 1px;

	&:hover{
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	}
}

.window-button{
	font-family: Roboto-Regular, Arial, sans-serif;
	font-size: $small-font-size + px;
	line-height: 1.2em;
	font-weight: 400;
	color: #959595;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;
	padding: 0;

	&:hover{
		padding: 0;
		color: #f3bc2f;
	}
}
/*end of buttons*/