/*contacts*/
.contacts{
	padding: 16px 18px 21px;

	&__address{
		margin: 0 0 19px;

		&-item{
			margin: 0 0 24px;
			padding: 0 0 0 31px;
			position: relative;

			&:last-child{
				margin: 0;
			}

			&--address{

				&::before{
					content: '';
					position: absolute;
					top: 2px;
					left: 0;
					width: 15px;
					height: 19px;
					background: url("../img/address-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--schedule{

				&::before{
					content: '';
					position: absolute;
					top: 3px;
					left: 0;
					width: 16px;
					height: 16px;
					background: url("../img/clock-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--support{

				&::before{
					content: '';
					position: absolute;
					top: 4px;
					left: 0;
					width: 17px;
					height: 18px;
					background: url("../img/tel-icon--gold.svg") no-repeat 0 0;
				}
			}

			h3{
				margin: 0;
				font-family: OpenSans-Semibold, Arial, sans-serif, Arial, sans-serif;
				font-size: $big-font-size-minus + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			p{
				margin: 0;
				font-family: OpenSans-Regular, Arial, sans-serif, Arial, sans-serif;
				font-size: $big-font-size-minus + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&-map{
				display: inline-block;
				vertical-align: top;
				margin: 16px 0 0;
				font-family: OpenSans-Semibold, Arial, sans-serif, Arial, sans-serif;
				font-size: $big-font-size-minus + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #fdd049;
				text-transform: none;
				text-decoration: underline;
				letter-spacing: 0;
			}

			&-tel{
				display: inline-block;
				vertical-align: top;
				font-family: OpenSans-Regular, Arial, sans-serif, Arial, sans-serif;
				font-size: $big-font-size-minus + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}
	}

	&__text{
		margin: 0 0 20px;
		font-family: $open-sans-reg;
		font-size: $smaller-font-size-plus + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #252525;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;

		&-link{
			font-family: $open-sans-sb;
			font-size: $smaller-font-size-plus + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #252525;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}
	}

	&__mail{
		margin: 0;
		padding: 0 0 0 31px;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 20px;
			height: 13px;
			background: url("../img/mail-icon--gold.svg") no-repeat 0 0;
		}

		&-item{
			margin: 0 0 10px;

			h3{
				margin: 0 0 1px;
				font-family: OpenSans-Regular, Arial, sans-serif, Arial, sans-serif;
				font-size: $smallest-font-size + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #121212;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			a{
				margin: 0;
				display: inline-block;
				vertical-align: top;
				font-family: OpenSans-Semibold, Arial, sans-serif, Arial, sans-serif;
				font-size: $big-font-size-minus + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #f4bc32;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}
	}

	@media (min-width: $media-ipad-min + px) {
		padding: 32px 36px 41px;

		&__address{
			margin: 0 0 38px;

			&-item{
				margin: 0 0 48px;
				padding: 0 0 0 61px;

				&--address{

					&::before{
						top: 4px;
						width: 30px;
						height: 38px;
					}
				}

				&--schedule{

					&::before{
						top: 6px;
						width: 32px;
						height: 32px;
					}
				}

				&--support{

					&::before{
						top: 8px;
						width: 34px;
						height: 35px;
					}
				}

				h3{
					font-size: $big-font-size-minus * 2 + px;
				}

				p{
					font-size: $big-font-size-minus * 2 + px;
				}

				&-map{
					margin: 32px 0 0;
					font-size: $big-font-size-minus * 2 + px;
				}

				&-tel{
					font-size: $big-font-size-minus * 2 + px;
				}
			}
		}

		&__text{
			margin: 0 0 40px;
			font-size: $smaller-font-size * 2 + px;

			&-link{
				font-size: $smaller-font-size * 2 + px;
			}
		}

		&__mail{
			padding: 0 0 0 61px;

			&::before{
				top: 5px;
				width: 39px;
				height: 26px;
			}

			&-item{
				margin: 0 0 19px;

				h3{
					margin: 0 0 2px;
					font-size: $smallest-font-size * 2 + px;
				}

				a{
					font-size: $big-font-size-minus * 2 + px;
				}
			}
		}
	}
}
/*end of contacts*/