/*contacts*/
.contacts{
	padding: 32px 36px 41px;

	&__address{
		margin: 0 0 38px;

		&-item{
			margin: 0 0 48px;
			padding: 0 0 0 61px;
			position: relative;

			&:last-child{
				margin: 0;
			}

			&--address{

				&::before{
					content: '';
					position: absolute;
					top: 4px;
					left: 0;
					width: 30px;
					height: 38px;
					background: url("../img/address-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--schedule{

				&::before{
					content: '';
					position: absolute;
					top: 6px;
					left: 0;
					width: 32px;
					height: 32px;
					background: url("../img/clock-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--support{

				&::before{
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					width: 34px;
					height: 35px;
					background: url("../img/tel-icon--gold.svg") no-repeat 0 0;
				}
			}

			h3{
				margin: 0;
				font-family: OpenSans-Semibold, Arial, sans-serif, Arial, sans-serif;
				font-size: 34px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			p{
				margin: 0;
				font-family: OpenSans-Regular, Arial, sans-serif, Arial, sans-serif;
				font-size: 34px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			a{
				display: block;
				margin: 32px 0 0;
				font-family: OpenSans-Semibold, Arial, sans-serif, Arial, sans-serif;
				font-size: 34px;
				line-height: 1.2em;
				font-weight: 400;
				color: #fdd049;
				text-transform: none;
				text-decoration: underline;
				letter-spacing: 0;
			}
		}
	}

	&__text{
		margin: 0 0 40px;
		font-family: OpenSans-Regular, Arial, sans-serif, Arial, sans-serif;
		font-size: 28px;
		line-height: 1.2em;
		font-weight: 400;
		color: #252525;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__mail{
		margin: 0;
		padding: 0 0 0 61px;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			width: 39px;
			height: 26px;
			background: url("../img/mail-icon--gold.svg") no-repeat 0 0;
		}

		&-item{
			margin: 0 0 19px;

			h3{
				margin: 0 0 2px;
				font-family: OpenSans-Regular, Arial, sans-serif, Arial, sans-serif;
				font-size: 24px;
				line-height: 1.2em;
				font-weight: 400;
				color: #121212;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

			}

			p{
				margin: 0;
				font-family: OpenSans-Semibold, Arial, sans-serif, Arial, sans-serif;
				font-size: 34px;
				line-height: 1.2em;
				font-weight: 400;
				color: #f4bc32;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

			}
		}
	}
}
/*end of contacts*/