/*extends*/
.three-points-button{
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
	margin: -17px 0 0;
  width: 33px;
  height: 33px;
  background: url("../img/action-button.svg") no-repeat 0 0;
  border-radius: 50%;

  &:hover{
    background: url("../img/action-button--hover.svg") no-repeat 0 0;
  }

  @media (min-width: $media-ipad-min + px) {
		right: 10px;
		margin: -34px 0 0;
		width: 66px;
		height: 66px;
  }
}
/*end of extends*/