//fonts
@font-face {
  font-family: 'PragmaticaLightC';
  src: url(../fonts/PragmaticaLightC.otf),
       url(../fonts/PragmaticaLightC.eot);
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}

//light
@font-face {
  font-family: 'Open Sans Reg';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Sb';
  src: url(../fonts/OpenSans-Semibold.ttf);
}