/*footer*/
.footer{
	padding: 15px 0 10px 19px;
	background: $button;

	&__button{
		margin: 0 14px 0 0;
		display: block;
		float: right;
		text-decoration: none;
		background: url("../img/button-plus.svg") no-repeat 0 0;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		box-shadow: 0 3px 8px 0 rgba(0,0,0,.15);
	}

	&__tel{
		margin: 0 0 15px;
		padding: 5px 10px 0;
		display: inline-block;
		vertical-align: top;
		background: $sand;
		border-radius: .6em;
		font-family: $pragmatica;
		font-size: $bigger-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__schedule{
		margin: 0 0 4px 4px;
		font-family: $pragmatica;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__mail{
		margin: 0 0 0 4px;
		font-family: $pragmatica;
		font-size: $bigger-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	@media (min-width: $media-ipad-min + px) {
		padding: 30px 0 20px 38px;

		&__button{
			margin: 0 28px 0 0;
			width: 116px;
			height: 116px;
			box-shadow: 0 6px 16px 0 rgba(0,0,0,.15);
		}

		&__tel{
			margin: 0 0 30px;
			padding: 10px 20px 0;
			font-size: $bigger-font-size * 2 + px;
		}

		&__schedule{
			margin: 0 0 8px 8px;
			font-size: $small-font-size * 2 + px;
		}

		&__mail{
			margin: 0 0 0 8px;
			font-size: $bigger-font-size * 2 + px;
		}
	}
}

/*end of footer*/