//footer
.footer{
  background: $button;
  padding-top: 29px;
  padding-left: 37px;
  padding-bottom: 19px;

  &__button{
    display: block;
    float: right;
    margin-right: 28px;
    text-decoration: none;
    background: url("../img/button-plus.svg") no-repeat 0 0;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,.15);
  }

  &__tel{
    display: inline-block;
    vertical-align: top;
    font-family: $pragmatica;
    font-size: $bigger-font-size + px;
    line-height: 60/$bigger-font-size + em;
    font-weight: 400;
    color: #000;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    background: $sand;
    border-radius: 33px;
    padding: 5px 20px 1px 24px;
    margin-bottom: 30px;
  }

  &__schedule{
    font-family: $pragmatica;
    font-size: $small-font-size + px;
    line-height: 36/$small-font-size + em;
    font-weight: 400;
    color: #000;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    margin-left: 7px;
    margin-bottom: 7px;
  }

  &__mail{
    font-family: $pragmatica;
    font-size: $bigger-font-size + px;
    line-height: 60/$bigger-font-size + em;
    font-weight: 400;
    color: #000;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    margin-left: 8px;
  }
}