/*FORMS*/
/*checkbox*/
.check-input{
	display: none;

	&:checked + .check-item::before{
		border-color: #b4d338;
	}
}

.check-item{
	padding: 0 0 0 44px;
	font-family: OpenSans-Light, Arial, sans-serif;
	font-size: $smaller-font-size + px;
	line-height: 1.2em;
	font-weight: 400;
	color: #252525;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	cursor: pointer;
	position: relative;

	&::before{
		content: '';
		position: absolute;
		top: -3px;
		left: 6px;
		width: 11px;
		height: 20px;
		border-right: 1px solid #dedcdb;
		border-bottom: 1px solid #dedcdb;
		transform: rotate(45deg);
	}

	@media (min-width: $media-ipad-min + px) {
		padding: 0 0 0 87px;
		font-size: $smaller-font-size * 2 + px;

		&::before{
			top: -6px;
			left: 11px;
			width: 21px;
			height: 40px;
			border-right: 3px solid #dedcdb;
			border-bottom: 3px solid #dedcdb;
		}
	}
}

.check-input-tumbler{
	display: none;

	&:checked + label{

		&:before{
			background: $light-green;
		}

		&:after{
			background: $sand-green;
			right: -2px;

			@media (min-width: $media-ipad-min + px) {
				right: -4px;
			}
		}
	}
}

.check-label-tumbler{
	font-family: $roboto;
	font-size: $small-font-size + px;
	line-height: 1.2em;
	font-weight: 400;
	color: $grey;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	display: block;
	cursor: pointer;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		top: 4px;
		right: 0;
		width: 33px;
		height: 9px;
		background: $border;
		border-radius: 5px;
		transition: all .5s;
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 17px;
		width: 17px;
		height: 17px;
		background: $button;
		border-radius: 50%;
		box-shadow: 0 1px 2px 0 #dbd9d9;
		transition: all .5s;
	}

	@media (min-width: $media-ipad-min + px) {
		font-size: $small-font-size * 2 + px;

		&:before{
			top: 8px;
			width: 65px;
			height: 18px;
			border-radius: 9px;
		}

		&:after{
			right: 33px;
			width: 34px;
			height: 34px;
			box-shadow: 0 2px 4px 0 #dbd9d9;
		}
	}
}
/*end of checkbox*/

/*radio*/
.radio{

	&-input{
		display: none;

		&:checked + label{

			&:before{
				border-color: $sand-green;
			}

			&:after{
				content: '';
				position: absolute;
				top: 4px;
				left: 3px;
				width: 11px;
				height: 11px;
				background: $sand-green;
				border-radius: 50%;
			}
		}
	}

	&-label{
		padding: 0;
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 300;
		color: #464646;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		cursor: pointer;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: 1px;
			left: 0;
			width: 15px;
			height: 15px;
			border: 1px solid #d7d7d7;
			border-radius: 50%;
		}
	}

	@media (min-width: $media-ipad-min + px) {

		&-input{

			&:checked + label{

				&:after{
					top: 8px;
					left: 7px;
					width: 22px;
					height: 22px;
				}
			}
		}

		&-label{
			font-size: $small-font-size * 2 + px;

			&:before{
				top: 1px;
				width: 30px;
				height: 30px;
				border: 3px solid #d7d7d7;
			}
		}
	}
}
/*end of radio*/

/*type='text'*/
.input-text{
	outline: none;
	border: none;
	display: block;
	font-family: OpenSans-Light, Arial, sans-serif;
	font-size: $small-font-size + px;
	line-height: 1.2em;
	font-weight: 400;
	color: #252525;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;

	&::-webkit-input-placeholder{
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #d7d7d7;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&:-ms-input-placeholder{
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #d7d7d7;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&::-moz-placeholder{
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #d7d7d7;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	@media (min-width: $media-ipad-min + px) {
		font-size: $small-font-size * 2 + px;

		&::-webkit-input-placeholder{
			font-size: $small-font-size * 2 + px;
		}

		&:-ms-input-placeholder{
			font-size: $small-font-size * 2 + px;
		}

		&::-moz-placeholder{
			font-size: $small-font-size * 2 + px;
		}
	}
}
/*end of type='text'*/
/*end of FORMS*/