/*profile*/
.profile{

	&-work-types{
		padding: 38px 0 81px;

		&__title{
			margin: 0 0 40px 37px;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464647;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		&__subtitle{
			margin: 0 9px 18px 37px;
			padding: 7px 0 0;
			font-family: OpenSans-Light, Arial, sans-serif;
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 400;
			color: #121212;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&-button{
				float: right;
				margin: -7px 0 0;
			}
		}

		&__chosen-list{
			margin: 0 0 249px 37px;
			padding: 0;

			&-item{
				margin: 0 0 4px;
				font-family: OpenSans-Light, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #b7b7b7;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

				&.active{
					font-family: OpenSans-Regular, Arial, sans-serif;
					margin-top: 15px;
					color: #f4bc32;
				}
			}
		}

		&__save{
			display: block;
			float: right;
			margin: 0 39px 0 0;
			width: 337px;
		}
	}

	&-choose-work{
		padding: 38px 0 31px;

		&__title{
			margin: 0 0 27px 35px;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 400;
			color: #959595;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		&__list{
			display: none;
			margin: 22px 0 36px 37px;

			&.show{
				display: block;
			}
			
			&-title{
				margin: 0 39px 10px 37px;
				padding: 25px 0 26px 21px;
				background: #f4f4f4;
				font-family: OpenSans-Regular, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #565554;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				cursor: pointer;
				position: relative;

				&::after{
					content: '';
					position: absolute;
					top: 34px;
					right: 20px;
					width: 14px;
					height: 14px;
					border-left: 4px solid #565554;
					border-bottom: 4px solid #565554;
					transform: rotate(-45deg);
				}

				&.opened{

					&::after{
						top: 39px;
						transform: rotate(-225deg);
					}
				}
			}

			&-item{
				margin: 0 0 40px;

				&:last-child{
					margin-bottom: 0;
				}

				label{
					margin: 0;
				}
			}
		}

		&__submit{
			display: block;
			float: right;
			margin: 35px 39px 0 0;
			width: 337px;
		}
	}

	&-users-works{
		padding: 43px 0 51px;

		&__title{
			margin: 0 29px 48px 37px;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464647;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			img{
				display: block;
				float: right;
				margin: -16px 0 0;
				width: 53px;
			}
		}

		&__subtitle{
			margin: 0 0 21px 35px;
			font-family: OpenSans-Regular, Arial, sans-serif;
			font-size: 36px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		&__list{
			margin: 0 0 33px;

			&:last-of-type{
				margin-bottom: 191px;
			}

			&-item{
				margin: 0 0 4px 37px;
				font-family: OpenSans-Light, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}

		&__ask{
			margin: 0 auto 21px;
			width: 646px;
		}
	}

	&__hire{
		margin: 0 auto 0;
		width: 646px;
	}

	&-entity{
		padding: 33px 0 64px;

		&__requisites{
			margin: 0 0 36px;
			padding: 0 38px 54px 36px;

			&-title{
				margin: 0 0 42px;
			}
		}

		&__table{
			width: 100%;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border-collapse: collapse;
			border: none;
		}

		&__tr{

			&:nth-child(n+2){

				td{
					padding-top: 69px;
				}
			}
		}

		&__td{
			margin: 0;
			padding: 0;
			border: none;
			vertical-align: top;

			&:first-child{
				width: 117px;
			}

			&:last-child{
				border-bottom: 1px solid #e5e4e4;
			}

			&-title{
				font-family: OpenSans-Regular, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #a0a0a0;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&-input{
				width: 100%;
				padding: 0 10px 13px;
				box-sizing: border-box;
			}
		}
	}

	&-individual{
		padding: 33px 0 64px;
	}

	&__img{
		margin: 0 auto 27px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 441px;
		height: 441px;
		border-radius: 50%;
		background: #fafaf8;
		font-size: 0;
		line-height: 0;
		position: relative;

		img{
			max-width: 100%;
		}

		&-edit{
			position: absolute;
			top: 19px;
			right: -89px;
			background: url("../img/pen-icon.svg") no-repeat 0 0;
			width: 35px;
			height: 35px;
		}

		&-favourite{
			position: absolute;
			top: 19px;
			right: -89px;
			background: url("../img/star-icon.svg") no-repeat 0 0;
			width: 50px;
			height: 48px;
		}
	}

	&__name{
		margin: 0 0 18px;
		font-family: Roboto-Regular, Arial, sans-serif;
		font-size: 44px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&__features{
		margin: 0 0 38px;
		padding: 0 0 46px;

		&-button{
			display: block;
			clear: both;
			margin: 0 auto 0;
			width: 642px;
		}
	}

	&__rating{
		float: left;
		max-width: 30%;
		box-sizing: border-box;
		margin: 0 0 30px 48px;
		font-size: 0;
		line-height: 0;
	}

	&__thumbs{
		display: inline-block;
		vertical-align: top;
		margin: 0 12px 0 0;
		background: #a5ce39;
		width: 55px;
		height: 55px;
		box-sizing: border-box;
		border-radius: 50%;
		font-family: Roboto-Bold, Arial, sans-serif;
		font-size: 28px;
		line-height: 55px;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			bottom: -3px;
			left: -8px;
			background: url("../img/thumbs-up-icon.svg") no-repeat 0 0;
			width: 26px;
			height: 27px;
		}
	}

	&__stars{
		display: inline-block;
		vertical-align: top;
		margin: 0 12px 0 0;
		background: #fec61d;
		width: 55px;
		height: 55px;
		box-sizing: border-box;
		border-radius: 50%;
		font-family: Roboto-Bold, Arial, sans-serif;
		font-size: 28px;
		line-height: 55px;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			bottom: -3px;
			left: -10px;
			background: url("../img/star-icon--orange.svg") no-repeat 0 0;
			width: 29px;
			height: 27px;
		}
	}

	&__hats{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		background: #f9d612;
		width: 55px;
		height: 55px;
		box-sizing: border-box;
		border-radius: 50%;
		font-family: Roboto-Bold, Arial, sans-serif;
		font-size: 28px;
		line-height: 55px;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			bottom: -5px;
			left: -14px;
			background: url("../img/hat-icon.svg") no-repeat 0 0;
			width: 40px;
			height: 26px;
		}
	}

	&__city{
		float: right;
		max-width: 50%;
		box-sizing: border-box;
		margin: 4px 46px 30px 0;
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: 36px;
		line-height: 1.2em;
		font-weight: 400;
		color: #464647;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&__item{
		border-bottom: 1px solid #e5e4e4;

		p{
			margin: 27px 0 0;
		}
	}

	&__note{
		margin: 0 0 22px;
		padding: 0 0 41px 36px;
	}

	&__place, &__tasks-done{
		margin: 0 0 42px;
		padding: 0 0 25px 36px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-val{
			min-width: 152px;
			padding: 0 39px 0 0;
			font-family: OpenSans-Semibold, Arial, sans-serif;
			font-size: 45px;
			line-height: 1.2em;
			font-weight: 400;
			color: #363636;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: right;
		}
	}

	&__experience{
		margin: 0 0 37px;
		padding: 0 36px 22px;

		label{
			display: block;
			margin: 0 0 27px;
		}

		textarea{
			display: block;
			width: 100%;
			min-height: 108px;
			box-sizing: border-box;
		}
	}

	&__education{
		margin: 0 0 37px;
		padding: 0 36px 22px;

		label{
			display: block;
			margin: 0 0 27px;
		}

		textarea{
			display: block;
			width: 100%;
			min-height: 108px;
			box-sizing: border-box;
		}
	}

	&__about{
		margin: 0 0 35px;
		padding: 0 35px 48px;

		label{
			display: block;
			margin: 0 0 18px;
		}

		textarea{
			display: block;
			width: 100%;
			min-height: 324px;
			box-sizing: border-box;
		}

		&--general{

			textarea{
				min-height: 108px;
			}
		}
	}

	&__conditions{
		margin: 0;
		padding: 0 35px 43px;

		label{
			display: block;
			margin: 0 0 23px;
		}

		textarea{
			display: block;
			width: 100%;
			min-height: 36px;
			box-sizing: border-box;
		}

		&--public{
			border-bottom: none;
		}
	}

	&__submit{
		display: block;
		float: right;
		margin: 0 37px 0 0;
		width: 337px;
	}

	&__lock{
		margin: 0 38px 42px;
		padding: 17px 10px 21px 92px;
		background: #f7f8f8 url("../img/lock-icon--grey.svg") no-repeat 32px center;
		background-size: 28px auto;
		font-family: Roboto-Regular, Arial, sans-serif;
		font-size: 29px;
		line-height: 1.2em;
		font-weight: 400;
		color: #898989;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;

	}

	&-photo{
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		background: rgba(0,0,0,.25);

		&.show{
			display: block;
		}

		&__wrapper{
			margin: 0 auto;
			width: 646px;
		}

		&__img{
			box-shadow: 0 3px 9px 0 rgba(0,0,0,.15);
			margin: 0 0 27px;
			font-size: 0;
			line-height: 0;

			img{
				max-width: 100%;
				border-radius: 10px;
			}
		}

		&__load{
			display: none;

			&-label{
				margin: 0 0 10px;
				outline: none;
				border: none;
				display: block;
				padding: 26px 0 25px;
				background: #b4d339;
				font-family: Roboto-Regular, Arial, sans-serif;
				font-size: 31px;
				line-height: 1.2em;
				font-weight: 400;
				color: #121212;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0;
				text-align: center;
				cursor: pointer;
			}
		}

		&__edit{
			margin: 0 0 10px;
			outline: none;
			border: none;
			display: block;
			padding: 26px 0 25px;
			background: #fff;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: 31px;
			line-height: 1.2em;
			font-weight: 400;
			color: #121212;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			cursor: pointer;
		}

		&__close{
			margin: 0 0 10px;
			outline: none;
			border: none;
			display: block;
			padding: 26px 0 25px;
			background: #fff;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: 31px;
			line-height: 1.2em;
			font-weight: 400;
			color: #b7b7b7;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			cursor: pointer;
		}
	}

	/*profile-reviews*/
	&-reviews{
		padding: 58px 0 0;

		&__title{
			margin: 0 0 55px 37px;
			color: #464647;
		}

		&__marks{
			margin: 0 0 60px;

			&-positive{
				float: left;
				width: 50%;
				font-family: Roboto-Regular, Arial, sans-serif;
				font-size: 29px;
				line-height: 1.2em;
				font-weight: 400;
				color: #959595;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0;
				text-align: center;

				span{
					font-family: Roboto-Bold, Arial, sans-serif;
				}

				&.active{
					color: #f4bc32;
				}
			}

			&-negative{
				float: right;
				width: 50%;
				font-family: Roboto-Regular, Arial, sans-serif;
				font-size: 29px;
				line-height: 1.2em;
				font-weight: 400;
				color: #959595;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0;
				text-align: center;

				span{
					font-family: Roboto-Bold, Arial, sans-serif;
				}

				&.active{
					color: #f4bc32;
				}
			}
		}

		&__list{
			margin: 0;
		}

		&__item{
			margin: 0 46px 29px 38px;

			&:last-child{

				p{
					border-bottom: none;
				}
			}

			&-img{
				float: left;
				margin: 3px 0 0;
				width: 93px;
				font-size: 0;
				line-height: 0;
				border-radius: 50%;

				img{
					max-width: 100%;
					border-radius: 50%;
				}
			}

			&-customer{
				margin: 0 0 15px 135px;
				font-family: OpenSans-Light, Arial, sans-serif;
				font-size: 24px;
				line-height: 1.2em;
				font-weight: 400;
				color: #b7b7b7;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&-wrapper{
				display: flex;
				margin: 0 0 8px 135px;
				justify-content: space-between;
			}

			&-name{
				margin: 0;
			}

			&-time{
				float: right;
				margin: 0;
				font-family: OpenSans-Light, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #959595;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&-text{
				margin: 0 0 0 135px;
				padding: 0 0 28px;
				border-bottom: 1px solid #e5e4e4;
				font-family: OpenSans-Light, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #363636;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}
	}
	/*end of profile-reviews*/
}
/*end of profile*/