/*rating*/
.rating{
	box-sizing: border-box;
	margin: 0 0 30px 48px;
	font-size: 0;
	line-height: 0;

	&__thumbs{
	display: inline-block;
	vertical-align: top;
	margin: 0 12px 0 0;
	background: #a5ce39;
	width: 55px;
	height: 55px;
	box-sizing: border-box;
	border-radius: 50%;
	font-family: Roboto-Bold, Arial, sans-serif;
	font-size: 28px;
	line-height: 55px;
	font-weight: 400;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	text-align: center;
	position: relative;

	&::before{
		content: '';
		position: absolute;
		bottom: -3px;
		left: -8px;
		background: url("../img/thumbs-up-icon.svg") no-repeat 0 0;
		width: 26px;
		height: 27px;
	}
}

	&__stars{
		display: inline-block;
		vertical-align: top;
		margin: 0 12px 0 0;
		background: #fec61d;
		width: 55px;
		height: 55px;
		box-sizing: border-box;
		border-radius: 50%;
		font-family: Roboto-Bold, Arial, sans-serif;
		font-size: 28px;
		line-height: 55px;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			bottom: -3px;
			left: -10px;
			background: url("../img/star-icon--orange.svg") no-repeat 0 0;
			width: 29px;
			height: 27px;
		}
	}

	&__hats{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		background: #f9d612;
		width: 55px;
		height: 55px;
		box-sizing: border-box;
		border-radius: 50%;
		font-family: Roboto-Bold, Arial, sans-serif;
		font-size: 28px;
		line-height: 55px;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			bottom: -5px;
			left: -14px;
			background: url("../img/hat-icon.svg") no-repeat 0 0;
			width: 40px;
			height: 26px;
		}
	}
}


/*end of rating*/