/*select-performer*/
.select-performer{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 47px 0 33px;
	box-sizing: border-box;
	width: 543px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 3px 9px 0 rgba(0,0,0,.15);
	opacity: 0;
	transition: opacity .5s;

	&.show{
		display: block;
	}

	&__title{
		margin: 0 37px 45px;
		font-family: Roboto-Regular, Arial, sans-serif;
		font-size: 40px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	.task-offers{

		&__item{

			&-performer{
				margin: 0 0 23px;

				&-name{
					margin: 2px 0 0;
					font-size: 28px;
				}

				span{
					float: right;
					margin: 59px 55px 0 0;
					font-family: OpenSans-Light, Arial, sans-serif;
					font-size: 23px;
					line-height: 1.2em;
					font-weight: 400;
					color: #464646;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}
			}

			&-photo{
				margin: 0 23px 0 38px;
				width: 75px;
			}
		}

		&__rating{
			margin: 9px 0 0;
			float: none;

			div{
				width: 55px;
			}
		}
	}

	p{
		margin: 0 37px 50px;
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: 28px;
		line-height: 1.2em;
		font-weight: 400;
		color: #252525;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__buttons{
		margin: 0 49px 0;
		text-align: right;
	}

	&__cancel{
		display: inline-block;
		vertical-align: top;
		margin: 0 55px 0 0;
	}

	&__select{
		display: inline-block;
		vertical-align: top;
		margin: 0;
	}

	&__background{
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.25);
		opacity: 0;
		transition: opacity .5s;

		&.show{
			display: block;
		}
	}
}
/*end of select-performer*/