/*settings*/
.settings{
	padding: 0 38px 64px;

	&--notifications{
		padding: 0 0 64px;

		ul{
			margin: 0 0 44px;
		}

		input[type='submit'] {
			margin-right: 38px;
		}
	}

	ul{
		margin: 0 0 44px;
	}

	&__item{
		border-bottom: 1px solid #e5e4e4;

		&--notifications{
			padding: 52px 38px 20px;
		}

		&:last-child{
			border: none;
		}

		&-title{
			margin: 39px 0 19px;
			display: block;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&--notifications{
				margin: 39px 0 8px;
				padding: 0 38px 0;
			}
		}

		.radio-label{
			display: inline-block;
			vertical-align: top;
			padding: 0 0 0 65px;
			margin: 0 0 30px;
		}

		.check-label-tumbler{
			font-family: OpenSans-Light, Arial, sans-serif;
			margin: 0 0 39px;
			padding: 0 75px 0 0;
		}
	}

	input[type='text']{
		margin: 0 0 23px;
		padding: 0;
		display: block;
		width: 100%;
	}

	input[type='password']{
		margin: 28px 0 23px;
		display: block;
		width: 100%;

		&::-webkit-input-placeholder{
			color: #a0a0a0;
		}

		&:-ms-input-placeholder{
			color: #a0a0a0;
		}

		&::-moz-placeholder{
			color: #a0a0a0;
		}
	}

	input[type='submit']{
		width: 337px;
		float: right;
	}

	&__select{

		label{
			padding: 0 0 12px;
			display: block;
			width: 46%;
			border-bottom: 1px solid #e5e4e4;
			position: relative;

			&::after{
				content: '';
				position: absolute;
				bottom: 22px;
				right: 0;
				width: 0;
				height: 0;
				border-top: 17px solid #c2c2c1;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				pointer-events: none;
			}
		}
	}

	&__wrapper{
		display: flex;
		justify-content: space-between;
	}

	select{
		appearance: none;
		border: 0;
		outline: 0;
		box-shadow: none;
		margin: 0;
		padding: 0 24px 0 0;
		box-sizing: border-box;
		background: #fff;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		font-family: OpenSans-Light, Arial, sans-serif;
		font-size: 30px;
		line-height: 1.2em;
		font-weight: 400;
		color: #464646;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		cursor: pointer;
	}

	&__contacts{
		width: 100%;
		border-collapse: collapse;
		border: 0;
		padding: 0;
		margin: 19px 0 0;

		td{
			border: 0;
			padding: 38px 0;
			vertical-align: top;

			&:first-child{
				padding-left: 72px;
				box-sizing: border-box;
				width: 100%;
			}

			h3{
				margin: 0 0 13px;
				font-family: Roboto-Regular, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #464646;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				position: relative;

				&.tel{

					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: -72px;
						background: url("../img/tel-icon.svg") no-repeat 0 0;
						width: 30px;
						height: 26px;
					}
				}

				&.mail{

					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: -72px;
						background: url("../img/mail-icon.svg") no-repeat 0 0;
						width: 29px;
						height: 19px;
					}
				}
			}

			span{
				font-family: OpenSans-Light, Arial, sans-serif, Arial, sans-serif;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 400;
				color: #959595;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			a{
				display: block;
				text-align: right;

				&.confirmed{
					font-size: 0;
					position: relative;

					&::before{
						content: '';
						position: absolute;
						top: 0;
						right: 13px;
						width: 21px;
						height: 40px;
						border-right: 3px solid #b4d338;
						border-bottom: 3px solid #b4d338;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}
/*end of settings*/