//side-menu
.side-menu{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -610px;
  width: 610px;
  background: #fff;
  z-index: 1;
  box-shadow: 5px 0 10px 10px rgba(0,0,0,.17);
  transition: left .5s;

  &--show{
    display: block;
  }

  &__footer{
    background: $light-foxy;
    padding-top: 5px;
    padding-bottom: 33px;

    &-icon{
      float: right;
      margin-top: 27px;
      margin-right: 43px;
      width: 32px;
      height: 41px;
      background: url("../img/profile-icon--dark.svg") no-repeat 0 0;
    }

    &-back-link{
      display: inline-block;
      font-family: $roboto;
      font-size: $big-font-size + px;
      line-height: 40/$big-font-size + em;
      font-weight: 400;
      color: #000;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
      margin-top: 28px;
      margin-bottom: 27px;
      padding-left: 107px;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 9px;
        left: 21px;
        width: 36px;
        height: 23px;
        background: url("../img/arrow-left-icon.svg") no-repeat 0 0;
      }
    }

    &-photo{
      width: 126px;
      height: 126px;
      border-radius: 50%;
      margin-left: 29px;
      margin-bottom: 32px;

      img{
        max-width: 100%;
      }
    }

    &-user-name{
      font-family: $roboto;
      font-size: $small-font-size + px;
      line-height: 36/$small-font-size + em;
      font-weight: 400;
      color: $dirty-sand;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
      margin-left: 35px;
    }
  }

  &__list{

    &-link{
      display: block;
      font-family: $open-sans-reg;
      font-size: $big-font-size-minus + px;
      line-height: 40/$big-font-size-minus + em;
      font-weight: 400;
      color: #000;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
      padding: 39px 0 31px 108px;
      position: relative;

      &:hover,
      &:focus{
        background: $button;
      }

      &-number{
        display: block;
        float: right;
        margin-top: 7px;
        margin-right: 43px;
        padding-top: 6px;
        width: 38px;
        height: 38px;
        box-sizing: border-box;
        background: $light-foxy;
        text-align: center;
        border-radius: 50%;
        font-family: $open-sans-sb;
        font-size: $smallest-font-size-minus + px;
        line-height: 24/$smallest-font-size-minus + em;
        font-weight: 400;
        color: #000;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0;
      }

      &--notification{

        &:before{
          content: '';
          position: absolute;
          top: 44px;
          left: 39px;
          width: 29px;
          height: 33px;
          background: url("../img/notification-icon.svg") no-repeat 0 0;
        }
      }

      &--all-tasks{

        &:before{
          content: '';
          position: absolute;
          top: 48px;
          left: 42px;
          width: 23px;
          height: 29px;
          background: url("../img/all-tasks-icon--light.svg") no-repeat 0 0;
        }
      }

      &--settings{

        &:before{
          content: '';
          position: absolute;
          top: 44px;
          left: 41px;
          width: 31px;
          height: 31px;
          background: url("../img/settings-icon.svg") no-repeat 0 0;
        }
      }

      &--balance{

        &:before{
          content: '';
          position: absolute;
          top: 48px;
          left: 41px;
          width: 31px;
          height: 31px;
          background: url("../img/balance-icon.svg") no-repeat 0 0;
        }
      }

      &--bookmarks{

        &:before{
          content: '';
          position: absolute;
          top: 46px;
          left: 45px;
          width: 22px;
          height: 29px;
          background: url("../img/bookmarks-icon.svg") no-repeat 0 0;
        }
      }

      &--exit{

        &:before{
          content: '';
          position: absolute;
          top: 48px;
          left: 43px;
          width: 29px;
          height: 29px;
          background: url("../img/exit-icon.svg") no-repeat 0 0;
        }
      }
    }
  }
}