//side-menu
.side-menu{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -305px;
	width: 305px;
	background: #fff;
	z-index: 1;
	box-shadow: 3px 0 5px 5px rgba(0,0,0,.17);
	transition: left .5s;

	&--show{
		display: block;
	}

	&__footer{
		padding: 3px 0 9px;
		background: $light-foxy;

		&-icon{
			margin: 14px 22px 0 0;
			float: right;
			width: 16px;
			height: 21px;
			background: url("../img/profile-icon--dark.svg") no-repeat 0 0;
		}

		&-back-link{
			margin: 14px 0 14px;
			padding: 0 0 0 54px;
			display: inline-block;
			font-family: $roboto;
			font-size: $big-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			position: relative;

			&:before{
				content: '';
				position: absolute;
				top: 5px;
				left: 11px;
				width: 18px;
				height: 12px;
				background: url("../img/arrow-left-icon.svg") no-repeat 0 0;
			}
		}

		&-photo{
			margin: 0 0 8px 7px;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			overflow: hidden;

			img{
				max-width: 100%;
			}
		}

		&-user-name{
			margin: 0 0 0 10px;
			font-family: $roboto;
			font-size: $small-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: $dirty-sand;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}
	}

	&__list{
		background: #fff;

		&-link{
			padding: 20px 0 20px 55px;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			font-family: $open-sans-reg;
			font-size: $big-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			position: relative;

			&:hover,
			&:focus{
				background: $button;
			}

			&-number{
				margin: 0 22px 0 0;
				padding: 0 5px;
				display: block;
				box-sizing: border-box;
				background: $light-foxy;
				text-align: center;
				border-radius: 50%;
				font-family: $open-sans-sb;
				font-size: $smallest-font-size-minus + px;
				line-height: 1.4em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&--notification{

				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 25px;
					margin: -8px 0 0;
					width: 15px;
					height: 17px;
					background: url("../img/notification-icon.svg") no-repeat 0 0;
				}
			}

			&--all-tasks{

				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 25px;
					margin: -7px 0 0;
					width: 12px;
					height: 15px;
					background: url("../img/all-tasks-icon--light.svg") no-repeat 0 0;
				}
			}

			&--settings{

				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 25px;
					margin: -7px 0 0;
					width: 16px;
					height: 16px;
					background: url("../img/settings-icon.svg") no-repeat 0 0;
				}
			}

			&--balance{

				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 25px;
					margin: -7px 0 0;
					width: 16px;
					height: 16px;
					background: url("../img/balance-icon.svg") no-repeat 0 0;
				}
			}

			&--bookmarks{

				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 25px;
					margin: -7px 0 0;
					width: 11px;
					height: 15px;
					background: url("../img/bookmarks-icon.svg") no-repeat 0 0;
				}
			}

			&--exit{

				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 25px;
					margin: -7px 0 0;
					width: 15px;
					height: 15px;
					background: url("../img/exit-icon.svg") no-repeat 0 0;
				}
			}
		}
	}
}