//task-form
.task-form{
  position: relative;

  &__item{
		padding: 10px 0 8px 54px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid $border;
    position: relative;

    &--address{
			padding-bottom: 6px;
    }

    &--sms{
			padding-left: 17px;
    }

    &--loading{
			margin: 0 0 16px;
			padding-left: 17px;
      border: none;
    }

    &--publish{
			padding: 10px 19px 8px;
      text-align: center;
    }
  }

  &__label{
    font-family: $roboto;
    font-size: $small-font-size + px;
    line-height: 1.2em;
    font-weight: 400;
    color: $grey;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    display: block;
    position: relative;

    &--category{
			margin: 12px 0 0;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -35px;
				margin: -7px 0 0;
        width: 14px;
        height: 14px;
        background: url("../img/category-icon.svg") no-repeat 0 0;
      }
    }

    &--subcategory{
			margin: 11px 0 0;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -36px;
				margin: -8px 0 0;
        width: 14px;
        height: 16px;
        background: url("../img/subcategory-icon.svg") no-repeat 0 0;
      }
    }

    &--task-text{
			margin: 4px 0 18px;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -35px;
				margin: -7px 0 0;
        width: 13px;
        height: 13px;
        background: url("../img/pen-icon--light-grey.svg") no-repeat 0 0;
      }
    }

    &--date{
			margin: 6px 0 18px;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -35px;
				margin: -8px 0 0;
        width: 16px;
        height: 16px;
        background: url("../img/clock-icon.svg") no-repeat 0 0;
      }
    }

    &--address{
			margin: 8px 0 14px;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -35px;
				margin: -8px 0 0;
        width: 16px;
        height: 16px;
        background: url("../img/address-icon.svg") no-repeat 0 0;
      }
    }

    &--payment{
			margin: 6px 0 23px;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -35px;
				margin: -6px 0 0;
        width: 16px;
        height: 12px;
        background: url("../img/card-icon.svg") no-repeat 0 0;
      }
    }

    &--contacts{
			margin: 5px 0 19px;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -34px;
				margin: -8px 0 0;
        width: 15px;
        height: 15px;
        background: url("../img/tel-icon.svg") no-repeat 0 0;
      }
    }
  }

  &__select{
    font-family: $roboto;
    font-size: $smallest-font-size + px;
    line-height: 1.2em;
    font-weight: 400;
    color: $light-grey;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    background: none;
    border: none;
    outline: none;

    &:disabled{
      cursor: pointer;
    }
  }

  &__link{
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
		margin: -17px 0 0;
    width: 33px;
    height: 33px;
    background: url("../img/action-button.svg") no-repeat 0 0;
    border-radius: 50%;
    
    &:hover{
      background: url("../img/action-button--hover.svg") no-repeat 0 0;
    }
  }

  &__input-text{
    font-family: $open-sans;
    font-size: $small-font-size + px;
    line-height: 1.2em;
    font-weight: 300;
    color: $dark;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    border: none;
    outline: none;
    resize: none;

    &::-webkit-input-placeholder{
      opacity: 1;
      color: $light-grey;
    }

    &:-ms-input-placeholder{
      opacity: 1;
      color: $light-grey;
    }

    &::-moz-placeholder{
      opacity: 1;
      color: $light-grey;
    }

    &--tel{
      margin-bottom: 16px;

      &::-webkit-input-placeholder{
        font-size: $smallest-font-size + px;
        line-height: 1.2em;
      }

      &:-ms-input-placeholder{
        font-size: $smallest-font-size + px;
				line-height: 1.2em;
      }

      &::-moz-placeholder{
        font-size: $smallest-font-size + px;
				line-height: 1.2em;
      }
    }
  }

  &__task-text{
		margin: 0 0 10px;
		padding: 0 0 0 3px;
    min-height: 54px;
    width: 95%;
    box-sizing: border-box;
  }

  &__button{
		margin: 0 19px 15px 0;
		padding: 14px 18px 12px;
		display: block;
		float: right;
		background: $button;
		border-radius: 2px;
    font-family: $roboto;
    font-size: $medium-font-size + px;
    line-height: 1.2em;
    font-weight: 400;
    color: $grey;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;

    &:hover{
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    }

    &--address{
      margin-top: 9px;
      padding: 14px 14px 13px;
    }
  }

  &__foto-input{
    display: none;
  }

  &__input-link{
		margin: 0 0 19px;
    display: block;
    position: relative;

    &--time{
			margin: 0 0 10px;
    }
  }

  &__input{
    background: none;

    &:disabled{
      cursor: pointer;
    }
  }

  &__address{
		margin: -5px 0 0;
    min-height: 54px;
    width: 95%;
    box-sizing: border-box;
  }

  &__payment-input{
    display: none;

    &:checked + label{

      &:before{
        border-color: $sand-green;
      }

      &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: -31px;
				margin: -4px 0 0;
        width: 11px;
        height: 11px;
        background: $sand-green;
        border-radius: 50%;
      }
    }
  }

  &__payment-label{
		margin: 0 0 15px;
    display: block;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: -35px;
			margin: -8px 0 0;
      width: 15px;
      height: 15px;
      border: 2px solid $light-grey;
      border-radius: 50%;
    }
  }
  
  &__address-label{
		margin: 0 0 9px;
    display: block;
    color: $light-grey;
  }

  &__tel-text{
		margin: 0 0 14px;
    font-size: $smallest-font-size + px;
    line-height: 1.2em;
  }

  &__sms-notification,
  &__loading{
    display: none;

    &:checked + label{

      &:before{
        background: $light-green;
      }

      &:after{
        background: $sand-green;
        right: 18px;
      }
    }
  }

  &__checkbox{
		margin: 5px 0 11px;
		padding: 0 60px 0 0;
		box-sizing: border-box;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
			margin: -5px 0 0;
      width: 33px;
      height: 9px;
      background: $border;
      border-radius: 5px;
      transition: all .5s;
    }

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      right: 36px;
			margin: -9px 0 0;
      width: 17px;
      height: 17px;
      background: $button;
      border-radius: 50%;
      box-shadow: 0 1px 2px 0 #dbd9d9;
      transition: all .5s;
    }
  }

  &__publish{
		margin: 0 0 19px;
		padding: 13px 0;
		display: block;
		width: 100%;
		background: $foxy;
		border: none;
		outline: none;
    font-family: $roboto;
    font-size: $medium-font-size + px;
    line-height: 1.2em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
  }
}