/*task-description*/
.task-description{
	padding: 62px 0 5px;
	position: relative;

	&__tab{
		display: none;
	}

	&__title{
		margin: 0 0 10px;
		display: flex;
		justify-content: space-between;

		h2{
			margin: 0 0 0 19px;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: $bigger-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		a{
			display: block;
			margin: 0 5px 0 0;
			min-width: 33px;
		}
	}

	&__category{
		margin: -4px 0 14px 19px;
		font-family: Roboto-Regular, Arial, sans-serif;
		font-size: $smallest-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__wrapper{
		display: flex;
		justify-content: space-between;
	}

	&__price{
		margin: 0;
		padding: 0 0 0 19px;
		font-family: Roboto-Regular, Arial, sans-serif;
		font-size: $big-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #959595;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__begin{
		margin: 5px 0 0;
		padding: 0 19px 0 5px;
		font-family: OpenSans-Light, 'Arial', sans-serif;
		font-size: $smallest-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #363636;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: right;
	}

	&__status{
		margin: 0 0 14px;
		padding: 12px 0 0 20px;
		font-family: OpenSans-Light, 'Arial', sans-serif;
		font-size: $smallest-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #363636;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__customer{
		margin: 3px 0 0;
		padding: 0 19px 0 5px;
		text-align: right;
		font-size: 0;
		line-height: 0;

		&-photo{
			width: 27px;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			border-radius: 50%;
			overflow: hidden;

			img{
				max-width: 100%;
			}
		}

		&-info{
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 0 4px;
			font-family: OpenSans-Semibold, Arial, sans-serif;
			font-size: $smallest-font-size-minus + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #363636;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}
	}

	&__offer{
		margin: 6px auto 21px;
		width: 323px;
	}

	&__info{
		clear: both;
		margin: 0;
	}

	&__text{
		margin: 0;
		padding: 20px 15px 20px 57px;
		background: #f5f5f5 url("../img/ok-text-icon.svg") no-repeat 22px 20px;
		background-size: 18px auto;
		font-family: OpenSans-Regular, 'Arial', sans-serif;
		font-size: $small-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #252525;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__time{
		margin: 0;
		padding: 21px 15px 21px 56px;
		background: url("../img/clock-icon.svg") no-repeat 21px center;
		background-size: 16px auto;
		border-bottom: 1px solid #e5e4e4;
		font-size: 0;

		span{
			display: inline-block;
			vertical-align: top;
			font-family: OpenSans-Light, 'Arial', sans-serif;
			font-size: $small-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&:first-child{
				margin: 0 37px 0 0;
			}
		}
	}

	&__address{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 14px 5px 13px 56px;
		background: url("../img/address-icon.svg") no-repeat 21px center;
		background-size: 16px auto;
		border-bottom: 1px solid #e5e4e4;

		span{
			margin: 0;
			display: block;
			font-family: OpenSans-Light, 'Arial', sans-serif;
			font-size: $small-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		a{
			margin: 0;
			display: block;
			min-width: 33px;
		}
	}

	&__weight{
		margin: 0;
		padding: 22px 15px 22px 56px;
		background: url("../img/weight-icon.svg") no-repeat 21px center;
		background-size: 16px auto;
		border-bottom: 1px solid #e5e4e4;

		span{
			margin: 0;
			font-family: OpenSans-Light, 'Arial', sans-serif;
			font-size: $small-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}
	}

	&__photo{
		margin: 0;
		padding: 15px 11px;
		display: inline-block;
		vertical-align: top;
		width: 112px;
		font-size: 0;
		line-height: 0;
		border-radius: 3px;
		position: relative;

		img{
			margin: 0 0 10px;
			max-width: 100%;
			border-radius: 3px;
		}

		span{
			margin-top: 10px;
			display: block;
			font-size: 10px;
			text-align: center;
		}
	}

	&__action{
		display: none;
		position: absolute;
		top: 19px;
		right: 12px;
		width: 176px;
		padding: 16px 22px 24px 21px;
		box-sizing: border-box;
		border-radius: 3px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
		background: #fff;

		&.show{
			display: block;
		}

		&-cancel{
			margin: 21px 0 0;
			float: right;
		}
	}

	&__edit,
	&__answer{
		margin: 0 0 17px;
		display: inline-block;
		vertical-align: top;
		font-family: OpenSans-Light, 'Arial', sans-serif;
		font-size: $smaller-font-size-plus + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #252525;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__unpublish,
	&__claim{
		margin: 0;
		font-family: OpenSans-Light, 'Arial', sans-serif;
		font-size: $smaller-font-size-plus + px;
		line-height: 1.2em;
		font-weight: 400;
		color: #252525;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	@media (min-width: $media-ipad-min + px) {
		padding: 124px 0 10px;

		&__title{
			margin: 0 0 20px;

			h2{
				margin: 0 0 0 38px;
				font-size: $bigger-font-size * 2 + px;
			}

			a{
				margin: 0 10px 0 0;
				min-width: 66px;
			}
		}

		&__category{
			margin: -8px 0 28px 38px;
			font-size: $smallest-font-size * 2 + px;
		}

		&__price{
			padding: 0 0 0 38px;
			font-size: $big-font-size * 2 + px;
		}

		&__begin{
			margin: 10px 0 0;
			padding: 0 38px 0 10px;
			font-size: $smallest-font-size * 2 + px;
		}

		&__status{
			margin: 0 0 28px;
			padding: 24px 0 0 40px;
			font-size: $smallest-font-size * 2 + px;
		}

		&__customer{
			margin: 6px 0 0;
			padding: 0 38px 0 10px;

			&-photo{
				width: 54px;
			}

			&-info{
				margin: 0 10px 0 8px;
				font-size: $smallest-font-size-minus * 2 + px;
			}
		}

		&__offer{
			margin: 12px auto 42px;
			width: 646px;
		}

		&__text{
			padding: 40px 30px 40px 114px;
			background: #f5f5f5 url("../img/ok-text-icon.svg") no-repeat 44px 40px;
			background-size: 36px auto;
			font-size: $small-font-size * 2 + px;
		}

		&__time{
			padding: 42px 30px 42px 112px;
			background: url("../img/clock-icon.svg") no-repeat 42px center;
			background-size: 32px auto;
			border-bottom: 2px solid #e5e4e4;

			span{
				font-size: $small-font-size * 2 + px;

				&:first-child{
					margin: 0 74px 0 0;
				}
			}
		}

		&__address{
			padding: 28px 10px 26px 112px;
			background: url("../img/address-icon.svg") no-repeat 42px center;
			background-size: 32px auto;
			border-bottom: 2px solid #e5e4e4;

			span{
				font-size: $small-font-size * 2 + px;
			}

			a{
				min-width: 66px;
			}
		}

		&__weight{
			padding: 44px 30px 44px 112px;
			background: url("../img/weight-icon.svg") no-repeat 42px center;
			background-size: 32px auto;
			border-bottom: 2px solid #e5e4e4;

			span{
				font-size: $small-font-size * 2 + px;
			}
		}

		&__photo{
			padding: 30px 22px;
			width: 224px;
			border-radius: 6px;

			img{
				padding: 0 0 20px;
				border-radius: 6px;
			}
		}

		&__action{
			top: 38px;
			right: 24px;
			width: 352px;
			padding: 32px 44px 48px 42px;
			border-radius: 6px;
			box-shadow: 0 4px 10px 0 rgba(0,0,0,.15);

			&-cancel{
				margin: 42px 0 0;
			}
		}

		&__edit,
		&__answer{
			margin: 0 0 34px;
			font-size: $smaller-font-size-plus * 2 + px;
		}

		&__unpublish,
		&__claim{
			font-size: $smaller-font-size-plus * 2 + px;
		}
	}
}
/*end of task-description*/