//tasks
.tasks{

  &__title{
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 38px;
    padding-bottom: 22px;
    border-bottom: 3px solid #E5E4E4;

    @extend .three-points-button;

    &-text{
      font-family: $roboto;
      font-size: $small-font-size + px;
      line-height: 36/$small-font-size + em;
      font-weight: 400;
      color: $light-grey;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
      background: none;
      border: none;
      outline: none;
    }
  }

  &__category{
    font-family: $roboto;
    font-size: $small-font-size + px;
    line-height: 36/$small-font-size + em;
    font-weight: 400;
    color: $light-grey;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    background: none;
    border: none;
    outline: none;
  }

  &__item{
    display: block;
    padding-top: 8px;
    padding-left: 33px;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 3px solid #E5E4E4;

    &:last-child{
      border-bottom: none;
    }

    &-cost{
      float: right;
      max-width: 190px;
      margin-top: 53px;
      margin-right: 28px;
      margin-bottom: 34px;
      font-family: $roboto;
      font-size: $big-font-size + px;
      line-height: 40/$big-font-size + em;
      font-weight: 400;
      color: $light-grey-plus;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 420px;
    }

    &-photo{
      float: right;
      clear: both;
      max-width: 51px;
      margin-right: 65px;
      line-height: 0;

      img{
        max-width: 100%;
      }
    }

    &-date{
      display: block;
      margin-top: 13px;
      margin-left: 5px;
      margin-bottom: 15px;
      font-family: $open-sans;
      font-size: $smallest-font-size + px;
      line-height: 30/$smallest-font-size + em;
      font-weight: 400;
      color: #000;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;

      &--time{
        margin-top: 9px;
        margin-left: 0;
        margin-bottom: 11px;
        padding-left: 47px;
        position: relative;

        &::before{
          content: '';
          position: absolute;
          top: -2px;
          left: 1px;
          width: 25px;
          height: 30px;
          background: url("../img/time-icon.svg") no-repeat 0 0;
        }
      }
    }

    &-text{
      display: block;
      margin-bottom: 21px;
      margin-right: 230px;
      min-height: 67px;
      font-family: $roboto;
      font-size: $big-font-size + px;
      line-height: 1em;
      font-weight: 400;
      color: #000;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
    }

    &-address{
      display: block;
      margin-bottom: 10px;
      padding-left: 47px;
      font-family: $open-sans;
      font-size: $smallest-font-size + px;
      line-height: 30/$smallest-font-size + em;
      font-weight: 400;
      color: $light-grey-plus;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 420px;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        top: 3px;
        left: 1px;
        width: 27px;
        height: 27px;
        background: url("../img/address-icon.svg") no-repeat 0 0;
      }
    }
  }
}