/*task-header*/
.task-header{
	min-height: 56px;
	width: 100%;
	background: $sand;
	padding-top: 18px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 0 #8d742d;
	position: relative;

	&--all-tasks{
		min-height: 98px;
	}

	&__up{
		margin: 0 0 10px;
	}

	&__sandwich{
		float: left;
		margin: 4px 18px 0 19px;
		width: 18px;
		height: 13px;
		background: url(../img/header-sandwich.svg) no-repeat 0 0;
		cursor: pointer;
	}

	&__text{
		font-family: Roboto-Regular, Arial, sans-serif;
		font-size: $big-font-size + px;
		line-height: 1.2em;
		font-weight: 400;
		color: $dark;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		float: left;
	}

	&__button{
		float: right;
		width: 20px;
		height: 20px;
		background: url(../img/header-button.svg) no-repeat 0 0;
		cursor: pointer;
		margin-top: -1px;
		margin-right: 19px;

		&--score{
			margin: 0 4px 0 0;
		}
	}

	&__action-button{
		float: right;
		margin: -7px 5px -7px 0;
	}

	&__wrapper{
		height: 48px;
		overflow: hidden;
		box-shadow: 0 2px 4px 0 #8d742d;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	&__types{
		padding: 3px 8px;
		clear: both;
		font-size: 0;
		background: $sand;
		white-space: nowrap;
		height: 58px;
		overflow-x: scroll;

		&-item{
			margin: 0 5px 0 0;
			display: inline-block;
			vertical-align: top;

			&:last-child{
				margin: 0;
			}

			input{
				display: none;

				&:checked + label{
					font-family: Roboto-Bold, Arial, sans-serif;
					color: #fff;
					background: #f3bb31;
				}
			}

			a,
			label{
				padding: 12px 16px;
				display: block;
				font-family: Roboto-Regular, Arial, sans-serif;
				font-size: $small-font-size + px;
				line-height: 1.2em;
				font-weight: 400;
				color: #a57e2d;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0;
				text-align: center;

				&.active{
					font-family: Roboto-Bold, Arial, sans-serif;
					color: #fff;
					background: #f3bb31;
				}
			}
		}
	}

	&__menu{
		display: none;
		position: absolute;
		top: 17px;
		right: 12px;
		max-width: 272px;
		border-radius: 4px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
		background: #fff;
		box-sizing: border-box;
		padding: 20px 5px 14px;
		z-index: 1;

		&-list{
			font-size: 0;
		}

		&-item{
			display: inline-block;
			vertical-align: top;
			width: 87px;
			min-height: 70px;
			box-sizing: border-box;
			padding: 0 10px;
		}

		&-link{
			display: block;
			font-family: OpenSans-Regular, Arial, sans-serif;
			font-size: $smallest-font-size + px;
			line-height: 1.2em;
			font-weight: 400;
			color: $light-grey-plus;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			padding-top: 24px;
			position: relative;

			&--main{

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 23px;
					width: 23px;
					height: 17px;
					background: url("../img/house-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--add-task{

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 27px;
					width: 15px;
					height: 18px;
					background: url("../img/add-task-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--all-tasks{

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 29px;
					width: 15px;
					height: 18px;
					background: url("../img/all-tasks-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--profile{

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 27px;
					width: 13px;
					height: 17px;
					background: url("../img/profile-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--news{

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 24px;
					width: 18px;
					height: 16px;
					background: url("../img/news-icon--gold.svg") no-repeat 0 0;
				}
			}

			&--contacts{

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 25px;
					width: 17px;
					height: 12px;
					background: url("../img/contacts-icon--gold.svg") no-repeat 0 0;
				}
			}
		}

		&-close{
			float: right;
			font-family: Roboto-Regular, Arial, sans-serif;
			font-size: $smaller-font-size-plus + px;
			line-height: 1.2em;
			font-weight: 400;
			color: $light-grey-plus;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			margin-right: 13px;
			cursor: pointer;

			&:hover,
			&:focus{
				color: $sand-green;
			}
		}
	}

	&--shadowless{
		box-shadow: none;
		min-height: 0;
	}

	@media (min-width: $media-ipad-min + px) {
		min-height: 111px;
		padding-top: 35px;
		box-shadow: 0 3px 7px 0 #8d742d;

		&--all-tasks{
			min-height: 195px;
		}

		&__up{
			margin: 0 0 19px;
		}

		&__sandwich{
			margin: 8px 35px 0 38px;
			width: 36px;
			height: 25px;
		}

		&__text{
			font-size: $big-font-size * 2 + px;
		}

		&__button{
			width: 40px;
			height: 40px;
			margin-top: -2px;
			margin-right: 38px;

			&--score{
				margin: 0 7px 0 0;
			}
		}

		&__action-button{
			margin: -13px 9px -13px 0;
		}

		&__wrapper{
			height: 96px;
			box-shadow: 0 3px 7px 0 #8d742d;
		}

		&__types{
			padding: 5px 16px;
			height: 116px;

			&-item{
				margin: 0 10px 0 0;

				a,
				label{
					padding: 24px 32px;
					font-size: $small-font-size * 2 + px;
				}
			}
		}

		&__menu{
			top: 34px;
			right: 24px;
			max-width: 543px;
			border-radius: 8px;
			box-shadow: 0 3px 9px 0 rgba(0,0,0,.15);
			padding: 39px 10px 27px;

			&-item{
				width: 174px;
				min-height: 140px;
				padding: 0 20px;
			}

			&-link{
				font-size: $smallest-font-size * 2 + px;
				padding-top: 47px;

				&--main{

					&:before{
						left: 45px;
						width: 45px;
						height: 34px;
					}
				}

				&--add-task{

					&:before{
						left: 53px;
						width: 30px;
						height: 35px;
					}
				}

				&--all-tasks{

					&:before{
						left: 57px;
						width: 29px;
						height: 35px;
					}
				}

				&--profile{

					&:before{
						left: 53px;
						width: 26px;
						height: 34px;
					}
				}

				&--news{

					&:before{
						left: 47px;
						width: 35px;
						height: 31px;
					}
				}

				&--contacts{

					&:before{
						left: 49px;
						width: 34px;
						height: 24px;
					}
				}
			}

			&-close{
				font-size: $smaller-font-size-plus * 2 + px;
				margin-right: 26px;
			}
		}
	}
}
/*end of task-header*/