/*texts*/
.text{

	&-main{
		font-family: $roboto;
		font-size: $big-font-size + px; //36
		line-height: 1em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&-middle{
		font-family: $open-sans-reg;
		font-size: $smaller-font-size-plus + px; //28
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&-undermain{
		font-family: OpenSans-Regular, 'Arial', sans-serif;
		font-size: 24px;
		line-height: 1.2em;
		font-weight: 400;
		color: #949594;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}
}

.slogan{
	font-family: OpenSans-Regular, 'Arial', sans-serif;
	font-size: 48px;
	line-height: 1.2em;
	font-weight: 400;
	color: #000;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
}

.content-title{
	font-family: Roboto-Regular, Arial, sans-serif;
	font-size: 30px;
	line-height: 1.2em;
	font-weight: 400;
	color: #363636;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
}

/*end of texts*/